<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>

    </style>
    <title>LOGİN PAGE</title>
</head>
<body>
<h1>LOGİN PAGE</h1>

<div class="container">

        <form  method ="POST">

        <button type ="submit" formaction="/register">REGISTER
        </button><br>

        </form>
        <form action="/login" method ="POST">

        <button type ="submit"  formaction="/login">LOGIN
        </button><br>

        </form>
        <form  method ="POST">

        <button type ="submit" formaction="/data" >ALL DATA
        </button><br>

        </form>

    </div>
</body>
</html>